*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}

/*NavBar*/
.NavBarContainer h1 span{
    margin-left: 100px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 10px 8px 6px grey;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px; 
    border: none;  
    border-radius: 10px;
}

.h1 span{
    opacity: 0;
    display:inline-flex;
    animation: animate 1s linear forwards;
    -webkit-animation: animate 1s linear forwards;
}


.NavBarContainer{
justify-content: space-between;
margin-top: 1%;
}

.NavBarContainer ul{
    display: flex;
    gap: 20rem;
    margin-top: 3%;
    margin-left: 250px;
    font-size: 20px;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.NavBarContainer a{
    text-decoration: none;
    color: gold;
}
.NavBarContainer :hover{
    cursor:progress;
    transform: 3s;
    color: black;   
}


/*HISTORY PAGE*/

.Historycontainer img {
    /* Add your CSS properties here */
    height: 420px; 
    width: 100%;
    margin: 10px;
    padding: 10px; 
    display: block; 
    justify-content: space-between; 
    align-items: center; 
    /* background-color: #f0f0f0;  */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
  }
